.filters {
  background-color: white;
  width: 100%;
  height: 70px;
  border: solid 1px #DDDDDD;
  border-radius: 4px;
  text-align: right;
}

button {
  color: white;
  font-size: 18px;
  height: 48px;
  width: 20%;
  background-color: #FF5A5F;
  border-radius: 4px;
  border-style: none;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 30px;
}

button:hover {
  opacity: 90%;
}

.locations {
  text-align: left;
  height: 100%;
  width: 25%;
  border-right: solid 1px #DDDDDD;
  margin-left: 40px;
  float: left;
}

.amenities{
  text-align: left;
  height: 100%;
  width: 25%;
  margin-left: 40px;
  float: left;
}

h3{
  font-weight: 600;
  margin: 0px;
  margin-top: 17px;
  padding: 0px;
}

h4{
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
}
