.filters {
  background-color: white;
  width: 100%;
  height: 70px;
  border: solid 1px #DDDDDD;
  border-radius: 4px;
  text-align: right;
}

button {
  color: white;
  font-size: 18px;
  height: 48px;
  width: 20%;
  background-color: #FF5A5F;
  border-radius: 4px;
  border-style: none;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 30px;
}

button:hover {
  opacity: 90%;
}
.locations {
  text-align: left;
  height: 100%;
  width: 25%;
  border-right: solid 1px #DDDDDD;
  float: left;
}
  
.amenities {
  text-align: left;
  height: 100%;
  width: 25%;
  float: left;
}

h3 {
  font-weight: 600;
  margin: 0px;
  margin-top: 17px;
  padding: 0px;
  padding-left: 30px;
}
  
h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
  padding-left: 30px;
}

.popover {
  background-color: #FAFAFA;
  border: solid #DDDDDD 1px;
  border-radius: 4px;
  margin-top: 7%;
  padding-bottom: 10%;
  visibility: hidden;
  position: relative;
  z-index: 1;
}

.popover h2 {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-bottom: -28px;
}

.popover_list {
  padding:0px;
  margin:0px;
  padding-left: 10%;
}

li {
  margin-left: -40px;
  list-style-type: none;
  padding-bottom: 5%;
}

ul {
  padding-top: 30px;
  list-style: none;
}

.locations:hover .popover{
  visibility: visible;
  margin-bottom: 50px;
}

.amenities:hover .popover{
  visibility: visible;
}
